<div class="container">
<div class="card">
    <div class="header">
        <h3>Producto</h3>
    <div class="card-body">
        <table>
            <thead>
            <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>PRECIO</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos" class="text-center">
                    <td>{{producto.id}}</td>
                    <td>{{producto.name}}</td>
                    <td>{{producto.price}}</td>
                    <td>
                        <button class="bnt btn-warning">Editar</button>
                        <button class="bnt btn-danger" style="margin-left:10px;">Delete</button>
                    </td>

                </tr>

            </tbody>
        </table>
    
    </div>
    </div>
</div>


</div>